name: tests

on:
  push:
    branches: ["main", "master"]
  pull_request:

jobs:
  bun-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3.4"
      - name: Install deps
        run: bun run install:all
      - name: Run tests
        run: bun test
